
*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Avenir Next';
	color: #555; 
	-webkit-font-smoothing: antialiased;
}

.slider, 
.slider .main, 
.slider .main .main-i{
	width: 100%;
	height: 400px;
	position: relative;
}
.slider .main{
	overflow: hidden;
}
.slider .main .main-i{
	opacity: 0;
	position: absolute;
	right: 50%;
	-webkit-transition: all .5s;
}
.slider .main .main-i-active{
	opacity: 1;
	right: 0;
}
.slider .main .main-i img{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.slider .main .main-i .caption{
	position: absolute;
	right: 50%;
	top: 30%;
	margin-right: 13%;
}
.slider .main .main-i h2{
	font-size: 40px;
	line-height: 50px;
	color: #b5b5b5;
	text-align: right;
	margin-right: 45px;
	opacity: 0;
	-webkit-transition: all 1s 0.8s;
}
.slider .main .main-i h3{
	font-size: 70px;
	line-height: 70px;
	color: #000;
	text-align: right;
	font-family: 'Open Sans Condensed';
	margin-right: -45px;
	opacity: 0;
	-webkit-transition: all 1s 0.8s;
}
.slider .main .main-i-active h2,
.slider .main .main-i-active h3{
	margin-right: 0;
	opacity: 1;
}

.slider .ctrl{
 	width: 100%;
 	height: 13px;
 	line-height: 13px;
 	text-align: center;
 	position: absolute;
 	bottom: -13px;
}
.slider .ctrl .ctrl-i{
	position: relative;
 	display: inline-block;
 	margin-right: 1px;
 	width: 150px;
 	height: 13px;
 	background-color: #666;
 	box-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.slider .ctrl .ctrl-i img{
	position: absolute;
 	width: 100%;
 	left: 0;
 	bottom: 50px;
 	opacity: 0;
 	transition: all .2s;
}
.slider .ctrl .ctrl-i:hover{
	background-color: #f0f0f0;
}
.slider .ctrl .ctrl-i:hover img{
	bottom: 13px;
	-webkit-box-reflect:below 0px -webkit-gradient(
 			linear,
 			left top,
 			left bottom,
 			from(transparent),
 			color-stop(50%, transparent),
 			to(rgba(255,255,255,.3))
 		);
 	opacity: 1;
}
.slider .ctrl .ctrl-i-active:hover,
.slider .ctrl .ctrl-i-active{
	background-color: #000;
}
.slider .ctrl .ctrl-i-active:hover img{
	opacity: 0;
}